body{
    background-color: beige;
    margin-left: 15pt;
 }


h1{
    text-align: center;
    color: brown;
    font-family: 'beer money', sans-serif;
}

h3{
    color: rgb(105, 69, 139);
    font-family: 'beer money', sans-serif;
}



@font-face {
	font-family: 'beer money';
	src: url('fonts/beer_money.eot'); /* IE 9 Compatibility Mode */
	src: url('fonts/beer_money.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('fonts/beer_money.woff2') format('woff2'), /* Super Modern Browsers */
		url('fonts/beer_money.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('fonts/beer_money.ttf') format('truetype'), /* Safari, Android, iOS */
		url('fonts/beer_money.svg#beer_money') format('svg'); /* Chrome < 4, Legacy iOS */
}



.poezd1{
    margin-right: 15pt;
    
    float: left;
}

.poezd2{
    margin-left: 15pt;
    margin-right: 15pt;
    float: right;
}

.text-block{
    text-align: center;
}